template(name='elements')
  #main
    h2 all elements
    .ui.very.basic.collapsing.celled.table
      thead
        tr
          th id
          th createdBy
          th createdAt
      tbody
        each elements
          tr
           td
            a(href="/elements/#{_id}") #{_id}
           td #{createdBy}
           td #{createdAt}

