template(name='login')
  style.
    body {
      background-color: #fafafa;
      padding-top: 20%;
    }
  .ui.three.column.centered.middle.aligned.stackable.grid
    .column
      .ui.horizontal.divider LOGIN
      form.ui.form.login
        .field
          .ui.left.icon.input
            input(type="email", name="email", placeholder="email")
            i.mail.icon
        .field
          .ui.left.icon.input
            input(type='password', name='password', placeholder="password")
            i.lock.icon
        button.ui.button.fluid(type='submit') Login

      .ui.divider.horizontal
        a(href="/register") OR REGISTER NOW
