template(name='people')
  #main
    table.ui.very.basic.celled.table
      thead
        tr
          th People
      tbody
      each people
        tr
          td
            h4.ui.image.header
              if profile.picture
                img.ui.mini.rounded.image(src='#{profile.picture}')
              else
                img.ui.mini.rounded.image(src='/user1.png')
              a(href="{{pathFor 'personLayout'}}")
                .content
                  | #{profile.firstname} #{profile.lastname}
                  .sub.header
                    if verified
                      | #{timeTillExpiration} years till expiration
                    else
                      | Anonymous

