template(name='register')
  style.
    body {
      background-color: #fafafa;
      padding-top: 15%;
    }
  .ui.three.column.centered.middle.aligned.stackable.grid
    .column
      .ui.horizontal.divider REGISTER NOW
      form.ui.form.register
        .field
          .ui.left.icon.input
            input(type="email", name="email", placeholder="Email")
            i.mail.icon
        .field
          .ui.left.icon.input
            input(type="text", name="firstname", placeholder="Firstname")
            i.user.icon
        .field
          .ui.left.icon.input
            input(type="text", name="lastname", placeholder="Lastname")
            i.user.icon
        .field
          .ui.left.icon.input
            input(type='password', name='password', placeholder="Choose your Password")
            i.lock.icon
        .field
          .ui.left.icon.input
            input(type='password', name='passwordAgain', placeholder="Repeat Password")
            i.lock.icon
        button.ui.button.fluid(type='submit') Register

      .ui.divider.horizontal
        a(href="/login") BACK TO LOGIN
