template(name="nav")
  .ui.secondary.pointing.menu(style="margin: 0")
    a(href="/" class="{{#if currentRouteIs 'home'}}active{{/if}}").item HOME
    a(href="/people" class="{{#if currentRouteIs 'people'}}active{{/if}}").item PEOPLE
    a(href="/elements" class="{{#if currentRouteIs 'elements'}}active{{/if}}").item ELEMENTS
    a(href="/events" class="{{#if currentRouteIs 'events'}}active{{/if}}").item EVENTS
    .right.menu
      .item #{username}
      a.logout(href="#").item Logout
